:root {
  /* Colors */

  --primary-color: #2584ff;
  --secondary-color: #00d9ff;
  --color-accent: #ff3400;
  --heading-color: #1b0760;
  --body-color: #918ca4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", "Arial", "Helvetica" sans-serif;
  color: var(--body-color);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--heading-color);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  transition: margin 0.15s;
}

.fa-arrow-circle-right {
  /* We used a icon from Font Awesome another way to do this is to use .link-arrow::after and use the content: "-->" property however the arrow doesn't look nice like that.  */
  color: #ff3400;
  display: inline;
  margin-left: 5px; /* Pixel value is used as we want the space to always be the same no matter the font size of the users browser  */
}

.link-arrow:hover {
  margin-right: 8px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  font-weight: 700;
  white-space: nowrap;
}

.badge--primary {
  /* As you can see we use BEM naming convention to seperate a block element from a modifier */
  background: var(--primary-color);
  color: white;
}

.badge--secondary {
  /* As you can see we use BEM naming convention to seperate a block element from a modifier */
  background: var(--secondary-color);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0; /* All browsers apply a default padding to the left, we remove it by setting the value to 0 */
  color: var(--heading-color);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(/icons/tick.svg); /* This property is used to provide an image/icon for the list style instead of bullet points etc.  */
  padding-left: 3rem;
}

.list--tick .list__item {
  /* If we remove .list--tick this will apply this padding to all list items we only want to apply it to list items inside the block with the ticks which is .list--tick */
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */
/* Pixel (absolute units) units are being used as icons are always the same size regardless of whether it is being viewed on phones or larger screens */

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--primary-color);
}

.icon-container {
  background: #f4f9f8;
  width: 64px;
  height: 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

/* Buttons */

.btn {
  /* Cursor property allows us to chose the type of cursor that shows when we hover over the element with this class and property defined in it. */
  border-radius: 40px;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 3rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}

.btn--primary {
  background: var(--primary-color);
}

.btn--primary:hover {
  background: #3a8ffd;
}

.btn--secondary {
  background: var(--secondary-color);
}

.btn--secondary:hover {
  background: #00cdeb;
}

.btn--accent {
  background: var(--color-accent);
}

.btn--accent:hover {
  background: #ec3000;
}

.btn--outline {
  color: var(--heading-color);
  border: 2.5px solid var(--heading-color);
  background: white;
}

.btn--outline:hover {
  background: var(--heading-color);
  color: white;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.fa-search {
  margin-right: 1rem;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
