<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading Block</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A fugiat culpa
      reiciendis alias, eveniet iste cumque similique est magni impedit.
    </p>
  </header>
</section>
<section class="block block--dark block--skew-left">
  <div class="container">
    <h2 class="block__heading">Heading Block</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A fugiat culpa
      reiciendis alias, eveniet iste cumque similique est magni impedit.
    </p>
  </div>
</section>
