<section class="block container block-domain">
  <header class="block__header">
    <h2>Starting At £8 Per Month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa animi
      repellat recusandae eos, at cumque!
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter Domain Name Here" />
    <button class="btn btn--accent"><i class="fas fa-search"></i>Search</button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.com £8</span></li>
    <li>.sg £9</li>
    <li>.space £11</li>
    <li>.info £13</li>
    <li>.net £9</li>
    <li>.xyz £9</li>
  </ul>
</section>
