<section class="block container">
  <header class="block__header">
    <h2>Host On The Cloud To Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, hic.
    </p>
  </header>
  <article class="grid grid--cols-2 feature">
    <div class="features__content">
      <header>
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="features__heading">Super Easy To Use</h3>
      </header>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est
        quia, earum rerum tempora atque nihil eius minus nostrum quidem?
      </p>
      <footer>
        <a class="link-arrow" href="#">Learn More </a>
        <a href="#"><i class="fas fa-arrow-circle-right"></i></a>
      </footer>
    </div>
    <div>
      <img class="features__image" src="/images/easy.jpg" alt="" />
    </div>
  </article>
  <article class="grid grid--cols-2 feature">
    <div class="features__content">
      <header>
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#growth"></use>
          </svg>
        </span>
        <h3 class="features__heading">Simply Fast Websites</h3>
      </header>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est
        quia, earum rerum tempora atque nihil eius minus nostrum quidem?
      </p>
      <footer>
        <a class="link-arrow" href="#">Learn More </a>
        <a href="#"><i class="fas fa-arrow-circle-right"></i></a>
      </footer>
    </div>
    <div>
      <img class="features__image" src="/images/fast.jpg" alt="" />
    </div>
  </article>
  <article class="grid grid--cols-2 feature">
    <div class="features__content">
      <header>
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </span>
        <h3 class="features__heading">Wordpress Made Easy</h3>
      </header>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est
        quia, earum rerum tempora atque nihil eius minus nostrum quidem?
      </p>
      <footer>
        <a class="link-arrow" href="#">Learn More </a>
        <a href="#"><i class="fas fa-arrow-circle-right"></i></a>
      </footer>
    </div>
    <div>
      <img class="features__image" src="/images/wordpress.jpg" alt="" />
    </div>
  </article>
</section>
